@import "bootstrap";

.teal-button {
  background-color: $teal-500;
}

.indigo-button {
  background-color: $indigo-400;
}

.red-button {
  background-color: $red-400;
}

.orange-button {
  background-color: $orange-400;
}
